@import "./variables/variables";
body {
    font-family: 'Montserrat';
    margin: 0;
    font-size: 16px;
    background: #333333;
    position: relative;
}

.container {
    @include style-container();
}

ul {
    @include reset-list();
}

a {
    text-decoration: none;
    display: block;
}

main {
    padding-bottom: 102px;
}

@media (min-width:1114px) {
    .container {
        max-width: 1114px;
        padding: 0;
        margin: auto;
    }
}