@font-face {
    font-family: 'Montserrat-bold';
    src: url('../webroot/fonts/montserrat-bold.woff2') format('woff2'), url('../webroot/fonts/montserrat-bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Montserrat';
    src: url('../webroot/fonts/montserrat-400.woff2') format('woff2'), url('../webroot/fonts/montserrat-400.woff') format('woff');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'montserrat-medium';
    src: url('../webroot/fonts/montserrat-md.woff2') format('woff2'), url('../webroot/fonts/montserrat-md.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Lora';
    src: url('../webroot/fonts/lora-400.woff2') format('woff2'), url('../webroot/fonts/lora-400.woff') format('woff');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Lora-Bold';
    src: url('../webroot/fonts/lora-bold.woff2') format('woff2'), url('../webroot/fonts/lora-bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Crimson-extra-light';
    src: url('../webroot/fonts/crimson-pro-extraLight.woff2') format('woff2'), url('../webroot/fonts/crimson-pro-extraLight.woff') format('woff');
    font-weight: 200;
    font-style: normal;
    font-display: swap;
}