@import "./variables/variables";
footer p {
    font-weight: 600;
    font-size: 14px;
    line-height: 17px;
    color: #A9A9A9;
    text-align: center;
    margin: 0;
    padding-top: 9px;
    padding-bottom: 24px;
}