    @import "./variables/variables";
    .image__content_container {
        max-width: 392px;
        margin: 0;
        position: relative;
        .designer__information {
            width: 300px;
            height: 138px;
            box-sizing: border-box;
            position: absolute;
            padding: 1rem;
            top: 72%;
            right: 23px;
            background-color: #181719;
            box-shadow: 0px 4px 4px 0px #000000;
        }
    }
    
    .interior__design {
        width: 100%;
    }
    
    .img__caption {
        font-family: "Lora";
        font-size: 18px;
        font-style: normal;
        font-weight: 700;
        line-height: 23px;
        max-width: 210px;
        margin: 0;
        color: $default-white-text-color;
    }
    
    .div-flex {
        display: flex;
        gap: 1rem;
    }
    
    .designer__career {
        font-weight: 500;
        font-size: 10px;
        line-height: 12px;
        color: #828282;
        margin: 0;
        margin-bottom: 21px;
    }
    
    .designer__name {
        font-weight: 500;
        font-size: 12px;
        line-height: 15px;
        color: $default-white-text-color;
    }
    
    .designer__profile {
        width: 62px;
        border-radius: 50%;
    }
    
    @media (min-width: 1114px) {
        .image__content_container {
            max-width: 721px;
            .designer__information {
                width: 410px;
                height: 189px;
                .img__caption {
                    font-size: 24px;
                    line-height: 30px;
                    max-width: 284px;
                    margin-top: 1rem;
                }
            }
        }
    }