@import "./scss/variables/variables";
@media (min-width: 1114px) {
    .section__wrapper {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        column-gap: calc(87px + 44px);
        padding-top: 153px;
    }
}