$main-horizontal-padding: 12px;
$default-white-text-color: #ffffff;
$text-md-font-size: 14px;
$text-md-line-height: 17px;
@mixin reset-list {
    list-style: none;
    padding: 0;
    margin: 0;
}

@mixin style-container {
    padding-right: $main-horizontal-padding;
    padding-left: $main-horizontal-padding;
    padding-top: 19px;
    padding-bottom: 24px;
}